/* CSS Variables */
:root {
	--primary: #ddd;
	--dark: #333;
	--light: #fff;
	--shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2rem;
	color: var(--dark);
}

body {
	background: #ccc;
	margin: 30px 50px;
	line-height: 1.4;
}

/* Global Element */
.btn {
	background: var(--dark);
	color: var(--light);
	padding: 0.6rem 1.3rem;
	text-decoration: none;
}

img {
	max-width: 100%;
}

.container {
	display: grid;
	grid-gap: 20px;
}

/* Navigation */
.navigation ul {
	display: grid;
	grid-gap: 20px;
	padding: 0;
	list-style: none;
	grid-template-columns: repeat(4, 1fr);
}
.navigation a {
	background: var(--primary);
	display: block;
	text-decoration: none;
	padding: 0.8rem;
	text-align: center;
	color: var(--dark);
	text-transform: uppercase;
	font-size: 1.3rem;
	box-shadow: var(--shadow);
	transition: background 1s, color 1s;
}
.navigation a:hover {
	background: var(--dark);
	color: var(--primary);
}

/* Top Container */
.top-container {
	display: grid;
	grid-gap: 20px;
	grid-template-areas: "showcase showcase top-case-a" "showcase showcase top-case-b";
}

/* Showcase */
.showcase {
	grid-area: showcase;
	min-height: 400px;
	background: url("https://image.ibb.co/kYJK8x/showcase.jpg");
	background-size: cover;
	background-position: center;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	box-shadow: var(--shadow);
}
.showcase h1 {
	font-size: 4rem;
	margin-bottom: 0;
	color: var(--light);
}
.showcase p {
	font-size: 1.3rem;
	margin-top: 0;
	color: var(--light);
}

/* Top Box */

.top-case {
	background: var(--primary);
	display: grid;
	align-items: center;
	justify-items: center;
	box-shadow: var(--shadow);
	padding: 1.5rem;
	font-size: 1.3rem;
}
.top-case .price {
	font-size: 2.4rem;
}
.top-case-a {
	grid-area: top-case-a;
}
.top-case-b {
	grid-area: top-case-b;
}

/* Boxes */
.boxes {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	margin: 20px 0;
}
.box {
	background: var(--primary);
	padding: 1.5rem 2rem;
	text-align: center;
	box-shadow: var(--shadow);
	font-size: 1.3rem;
}
.box i {
	font-size: 4rem;
}

/* Info */
.info {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
	padding: 3rem;
	background: var(--primary);
	box-shadow: var(--shadow);
}

/* Portfolio */
.portfolio {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio img {
	width: 100%;
	box-shadow: var(--shadow);
}

/* Footer */
footer {
	margin-top: 2rem;
	background: var(--dark);
	color: var(--primary);
	text-align: center;
	padding: 1rem;
	font-size: 1.2rem;
}

/* Media Queries */

@media screen and (max-width: 768px) {
	.top-container {
		grid-template-areas: "showcase showcase" "top-case-a top-case-b";
	}
	.showcase h1 {
		font-size: 2.5rem;
	}
	.navigation ul {
		grid-template-columns: 1fr;
	}

	.info {
		grid-template-columns: 1fr;
	}
	.info .btn {
		display: block;
		text-align: center;
		margin: auto;
	}
}

@media (max-width: 576px) {
	.top-container {
		grid-template-areas: "showcase" "top-case-a" "top-case-b";
	}
}
